* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #a78bfa;
  --primary-dark: #8b5cf6;
  --primary-light: #c4b5fd;
  --bg-dark: #1a1a1a;
  --card-bg: #252525;
  --text-light: #f3f4f6;
  --text-gray: #9ca3af;
  --shadow-md: 0 4px 6px rgba(0, 0, 0, 0.1);
  --border-radius: 10px;
}

html,body{
    background:var(--bg-dark);
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    color: var(--text-light);
    padding: 1rem;
}

.container{
    max-width: 700px;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
}

header h1{
    color: var(--primary-color);
    margin-bottom: 1rem;
}
header p{
color: var(--text-gray);
}

.search-container{
    width: 100%;
    display: flex;
    gap: .5rem;
}

.search-container input{
    width: 100%;
    padding: .5rem;
    background:var(--card-bg);
    border: none;
    border-radius: 5px;
    color: var(--text-light);
}

.search-container button{
    padding: .5rem;
    border-radius: 5px;
    background: var(--primary-dark);
    color: var(--text-light);
    font-weight: 600;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
}
button:active{
    scale: 0.9;
}

#user-container{

    background:var(--card-bg);
    border-radius: 6px;
    padding: 1rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#user-container .profile-section{
    display: flex;
    gap: 1rem;
}

.hidden{
    display: none;
}

.profile-section i{
    color: var(--primary-color);
}

.profile-section img{
    height: 80px;
    width: 80px;
    border-radius: 50%;
    border:4px solid var(--primary-dark);
}

.profile-section .profile-info{
    
    display: flex;
    align-items: start;
    flex-direction: column;
    gap: .5rem;
}

.profile-info #username{

    color: var(--primary-color);
}

.profile-info .location-date{
    display: flex;
    gap: .5rem;
    color: var(--text-gray);
    margin-bottom: .5rem;
}

.profile-info a{
    text-decoration: none;
    padding: .5rem 1rem;
    background: var(--primary-color);
    color: #1a1a1a;
    font-weight: 600;
    border-radius: 1rem;
}

#user-container .stats{
    width: 100%;
    display: flex;
    gap: 1rem;
    padding: 1rem 0;
    border-bottom: 2px solid #323230;
}
#user-container.hidden{
    display: none;
}
.stats .stat{
    width: 100%;
    padding: .5rem 1rem;
    background: #323230;
    border-radius: 5px;
    display: flex;
    gap: .3rem;
    align-items: center;
    justify-content: center;
}

.stat i{
    color: var(--primary-color);
}

.additional-info{
    width: 100%;
    display: flex;
    gap: 1rem;
}

.additional-info .info-item{
    width: 100%;
    padding: .5rem 1rem;
    border-radius: 5px;
    display: flex;
    gap: .5rem;
    align-items: center;
    justify-content: center;    
    color: var(--text-gray);
}

.info-item i{
    color: var(--primary-color);
}

.info-item a{
    text-decoration: none;
}

.repo-section{
    overflow-y: auto;
    max-height: 400px;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1rem;
}

.repo-section::-webkit-scrollbar{
    width: 8px;
}

.repo-section::-webkit-scrollbar-track{
    border-radius: 4px;
    background-color: #48484a;
    
}

.repo-section::-webkit-scrollbar-thumb{
    border-radius: 4px;
    background-color: #CBD5E0;
}

.repo-section::-webkit-scrollbar-thumb:hover{
    background-color: #F1F1F1;
}

.repo-section h2{
    text-align: start;
    padding: 1rem 0;
    border-bottom:2px solid #323230;
    width: 100%;
}

.repo-container{
   
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1rem;
}

.repo-container .repo{
    padding: 1rem;
    background-color: #323230;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: .5rem;
    transition: all 0.3s ease;
}
.repo:hover{
    transform: translateY(-4px);
}
.repo a{
    text-decoration: none;
    color: var(--primary-light);
}

.repo a:hover{
    text-decoration: underline;
}
.repo p{
    font-size: .9rem;
    color: #9ca3af;
}
.repo footer{
    margin-top: 1rem;
    font-size: .7rem;
    display: flex;
    gap: .3rem;
    color: #9ca3af;
}

footer .detail-item{
    margin-right: .5rem;
    
}

.detail-item i{
    color:var(--primary-color);
}

#error-container{

    padding: 1rem;
    text-align: center;
    border-radius: 5px;
    width: 100%;
    background-color: rgba(222, 104, 40, 0.406);
    border: 2px solid rgba(227, 103, 37, 0.719);
}





