*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    min-height: 100vh;
    background:linear-gradient(145deg,#8DAEE0,#B5C7E1);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.container{
    max-width: 800px;
    width: 100%;
    background-color: white;
    border-radius: 1rem;
    box-shadow: 0 10px 30px rgba(0,0,0,0.4);
    padding: 1rem;
}

.container h1{
    text-align: center;
    margin-bottom: 10px;
    padding: .4rem;
    position: relative;

}
.container h1::after{
    content: "";
    height: 3px;
    width: 50%;
    background-color: #667EEA;
    position: absolute;
    bottom: 0%;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 3px;
}

.container #generate-btn{
    background: linear-gradient(35deg,#6975DD,#7352AC);
    color: white;
    padding: .5rem 1rem;
    border-radius: 1rem;
    border: none;
    margin-bottom: 20px;
    transition: all linear 0.3s;
}

.container #generate-btn:hover{
    transform: translateY(-3px);
    cursor: pointer;
}
.container #generate-btn:active{
   scale: 0.9;
}
.container .palette-container{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 1rem;

}

.container .palette-container .color-box{
    height: 120px;
    overflow: hidden;
    border-radius: 10px;


}
.container .palette-container .color-box:hover{
    transform: translateY(-2px);
}
.container .palette-container .color-box .color{
    height: 70%;
    margin-bottom: 10px;
}

.container .palette-container .color-box .color-info {
display: flex;
justify-content: space-between;
padding: 0 1rem;
}
.container .palette-container .color-box .color-info .copy-btn{
    transition: all linear 0.3s;
}

.container .palette-container .color-box .color-info .copy-btn:hover{
    cursor: pointer;
    transform: translateY(-2px);
}
.container .palette-container .color-box .color-info .copy-btn:active{
    scale: 0.9;
}
@media (max-width:650px){
.container .palette-container{
    display: flex;
   flex-wrap: wrap;
}

}