/* style.css */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-color: rgb(24, 24, 24);
  padding: 1rem;
  height: 100vh;
  width: 100%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container{
  background-color: #242424;
  border-radius: 6px;
  padding: 1rem;
  max-width: 500px;
  width: 100%;
}

.form-container{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.form-container .head h1{
  color: #41C171;
}

.form-container .input-group{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 1rem;
  margin-bottom: 1rem;
  
}

.form-container .input-group .input-field{
  display: flex;
  align-items: center;
  gap: .5rem;
  width: 100%;
  background-color: #333333;
  padding: .5rem;
  border-radius: 5px;
}

.form-container .input-group .input-field i{
  color: #41C171;
}

.form-container .input-group .input-field input{
  width: 100%;
  background-color: transparent;
  border: none;
  outline: none;
  color: white;
}


.message-field{
  width: 100%;
  padding: .5rem;
  display: flex;
  gap: .5rem;
  background-color: #333333;
  border-radius: 6px;
  margin-bottom: 1rem;
}

.message-field i{
  color: #41C171;
}

.message-field textarea{
  width: 100%;
  background: transparent;
  outline: none;
  border: none;
  color: white;
}

button[type="submit"]{
  width: 100%;
  background-color: #41C171;
  padding: .5rem;
  transition: all linear 0.3s;
  border-radius: 6px;
  cursor: pointer;
  border: none;
  outline: none;
  font-weight: 600;
}
button[type="submit"]:hover{
  transform: translateY(-2px);
}
button[type="submit"]:active{
scale: 0.9;
}


.container .form-container form{
  padding-bottom: 1.4rem;
  border-bottom: 2px solid #403838;
}

.info-container{
  display: flex;
  flex-direction: column;
  gap: .5rem;
  font-size: .7rem;
}

.info-item{
  display: flex;
  gap: .6rem;
  align-items: center;
}

.info-item i{
  color: #41C171;
}

.info-item span{
  color: #afa7a7;
}


@media (max-width:350px) {
  .form-container .input-group{
    grid-template-columns: repeat(1,1fr);
  }
  
}