*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{

    background-color: #1A1A1A;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #DADFE4;
    padding: 4rem 15px;
}

.container{
    max-width: 1200px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.top-header{
    margin-bottom: 30px;
    text-align: center;
}

.top-header h1{
    color: transparent;
    background: linear-gradient(to right, #a78bfa,#c4b5fd);
    background-clip: text;
    -webkit-background-clip:text;
    font-size: 2.3rem;
    margin-bottom: 20px;
    position: relative;
    display: inline-block;
}

.top-header h1::after{
    content: "";
    position: absolute;
    width: 60px;
    left: 50%;
    bottom: -10px;
    transform: translateX(-50%);
    height: 4px;
    background: linear-gradient(135deg,#a78bfa,#c4b5fd);
    border-radius: 4px;
}

.top-header p{
    max-width: 500px;
    margin: 0 auto;
    margin-top: 20px
}

.team-grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1rem;
    margin-bottom: 4rem;
}

.profile-card{
    background-color: #252525;
    border-radius: 8px;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    transition: all 0.3s ease;
    height: 100%;
}

.profile-card:hover{
    transform: translateY(-6px);
}

.profile-card .card-top{

    position: relative;
    padding-top: 85px;
    text-align: center;
    z-index: 1;
}

.profile-card .header{
    height: 120px;
    background-color: #a78bfa;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
}

.content{
    display: flex;
    flex-direction: column;
    gap: .6rem;
    align-items: center;
    padding-bottom: 30px;
    border-bottom: 2px solid #434141;
    border-radius: 5px;
    
}

.content img{
    cursor: pointer;
    border-radius: 50%;
    border: 2px solid #252525;
    transition: all 0.3s ease;
    object-fit: cover;
}
.content img:hover{
    scale: 1.1;
}

.content p{
    color: #a78bfa;
}


.card-bottom{
    padding-bottom:1rem;
    padding:1rem 0 ;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-bottom p{
    margin-bottom: 20px;
    line-height: 28px;
    color: #b0aeae;
}

.card-bottom .social-profile{

    display: flex;
    justify-content: center;
    gap: 1rem;
}

.card-bottom .social-profile .icon{

    text-decoration: none;
    height: 40px;
    width: 40px;
    border-radius: 2rem;
    background-color: #434141;
    position: relative;
    transition: all 0.3s ease;
}

.card-bottom .social-profile .icon:hover{
    transform: translateY(-4px);
}
.card-bottom .social-profile .icon:active{
    scale: 0.9;
}
.icon i{
    position: absolute;
    top: 30%;
    right:25%;
    color: white;
}

.open-position{
    max-width: 80rem;
    width: 100%;
    margin: 0 auto;
    background-color: #252525;
    padding: 2rem;
    border-radius: 6px;
    border-top: 5px solid #a78bfa;
    text-align: center;
    transition: all 0.4s ease;
}

.open-position:hover{
    transform: translateY(-6px);
}

.open-position h1{
    color:#b19bf3;
   font-size: 2.4rem;
   margin-bottom: 10px;
}

.open-position p{
     color: #b0aeae;
     margin-bottom: 30px;
}

.open-position .open-position-btn{
    text-decoration: none;
    padding: .5rem 1rem;
    background-color: #a78bfa;
    border-radius: 1rem;
    font-weight: 800;
    color: black;

}


@media (max-width:650px) {

    .team-grid{
        display: flex;
        flex-wrap: wrap;
    }
    
}