*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,body{
    background-color: #1A1A1A;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 1rem;
    color: white;
}

.container{
    max-width: 1200px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    gap: 1rem;
    padding: 1rem;
}


/* Styling for header of the container  */

.container .header{
    text-align: center;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    margin-bottom: 3rem;
}

.header h1{
    background:linear-gradient(to right, #AB90FB,#C3B4FD );
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    margin-bottom: 15px;
    position: relative;
}

.header h1::after{
    content: "";
    position: absolute;
    height: 4px;
    width: 60px;
    left: 45%;
    bottom: -10px;
    background: linear-gradient(135deg,#a78bfa,#c4b5fd);
    border-radius: 6px;
}
.header p{
    color: #DADFE4;
    max-width: 500px;
    margin: 0 auto;   
}

/* Styling for team member profiles container  */

.team-container{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1rem;
}

.profile-card{
    background-color: #252525;
    border-radius: 6px;
    position: relative;
    transition: all 0.3s ease;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    overflow: hidden;
    
}

.profile-card:hover{
    transform: translateY(-6px);
}

.profile-card .card-top{
    padding: 80px 0 30px 0;
    text-align: center;
    z-index: 1;
}

.card-top .head{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: #AB90FB;
    width: 100%;
    height:120px ;
    z-index: -1;
}

.card-top .content{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    border-bottom:2px solid #504e4e;
    padding-bottom: 1.5rem;
}

.content img{
    border-radius: 3rem;
    object-fit: cover;
    border: 2px solid #7b7979;
    transition: all 0.3s ease;
    cursor: pointer;
}

.content img:hover{
    scale: 1.1;
}

.content p{
    color: #a78bfa;
}


.card-bottom{
    text-align: center;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.card-bottom p{
    color: #e4e1e1;
    line-height: 28px;
}

.card-bottom .social-profile{
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.social-profile .icon{
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    transition: all 0.4s ease;
}

.icon:hover{

    transform: translateY(-5px);
}


/* Styling on Join team Container  */

.join-team{
    margin-top: 40px;
   max-width: 80rem;
   width: 100%;
   padding: 2rem;
   border-radius: 6px;
   background-color: #252525;
   text-align: center;
   position: relative;
   overflow: hidden;
    transition:all 0.4s ease ;
}

.join-team::before{
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    right: 0;
    height: 4px;
    background-color: #a78bfa;
   
}
.join-team:hover{
    transform: translateY(-6px);
}

.join-team h1{
    margin-bottom: 15px;
    color: #a78bfa;
}

.join-team p{
    color: #e4e1e1;
    margin-bottom: 15px;
}

.join-team button{
    padding: .5rem 1rem;
    border-radius: 1rem;
    background-color: #AB90FB;
    font-weight: 600;
}